.video-box {
    position: relative;
    width: 100%;
    max-width: 390px;
    height: 230px;
    margin: 15px auto;
    overflow: hidden;
    border-radius: 22px;
    background: #023b5c;
    border: 2px solid rgba(140, 235, 255, 0.6);

    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.3),
        0 0 15px rgba(80, 220, 255, 0.2);

    flex-shrink: 0;
}

.video-box video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
